.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1; /* Ajuste a cor de fundo conforme necessário */
  }
  
  .login-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-title {
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    text-align: left;
    color: black;
  }
  
  .form-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .submit-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #e60000;
  }
  